* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #0B5394, #4F90CA);
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 900px;
}

.form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(to bottom, #0B5394, #2D72AF); */
    /* background-color: #72a0c5; */
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}

.form-container > img{
    position: relative;
    left: 0px;
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.form-container > h1{
    color: #000;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #dadada;
    color: #fff;
}

input::placeholder {
    color: #fff; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2D72AF;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0B5394;
}

a {
    color: #0077b3;
    text-decoration: none;
}

p{
    color: #000;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0B5394;
    color: #fff;
    font-weight: bold;
    border: 2px solid #2D72AF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #2D72AF;
}

